[submodule "mozilla/firefox-user.js"]
  path = mozilla/firefox-user.js
  url = https://github.com/arkenfox/user.js.git
  ignore = dirty
[submodule "mozilla/thunderbird-user.js"]
  path = mozilla/thunderbird-user.js
  url = https://github.com/HorlogeSkynet/thunderbird-user.js.git
  ignore = dirty
