[submodule "mozilla/firefox-user.js"]
  path = mozilla/firefox-user.js
  url = https://github.com/arkenfox/user.js.git
  ignore = dirty
[submodule "mozilla/thunderbird-user.js"]
  path = mozilla/thunderbird-user.js
  url = https://github.com/HorlogeSkynet/thunderbird-user.js.git
  ignore = dirty
[submodule "zsh/plugins/zsh-colored-man-pages"]
	path = zsh/plugins/zsh-colored-man-pages
	url = https://github.com/ael-code/zsh-colored-man-pages.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
